# =============== #
# Unity generated #
# =============== #
Temp/
Library/
PersistentPath/
.idea/
[Oo]bj/
[Bb]uild
sysinfo.txt
*.stackdump
remote_config_data
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.booproj
[Ee]xported[Oo]bj/
*.pidb

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Assets/_King/test.unity
Assets/_King/test.unity.meta
Assets/_King/Scripts/Test.cs
Assets/_King/Scripts/Test.cs.meta
Test.meta
.vs/
ProjectSettings.asset
.idea/
AssetBundles
Logs/


